<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.solersoft.taskergb">
    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- Features -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <!-- android:requestLegacyExternalStorage below is for the image picker on Android 10+ -->
    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".DeviceControlActivity"
            android:label="@string/title_activity_device_control"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Activities -->
        <activity android:name=".ActivityMain">

        </activity>
        <activity
            android:name=".tasker.helloworld.HelloWorldActivity"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Hello World">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tasker.dynamicinput.DynamicInputActivity"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Dynamic Input">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tasker.togglecondition.ToggleConditionActivity"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Toggle Condition">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tasker.palette.ActivityConfigPalette"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Palette"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tasker.rgb.ActivityConfigRGBW"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="RGB Control"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tasker.gettime.ActivityConfigGetTime"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Time">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tasker.getip.ActivityConfigGetIP"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Public IP">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tasker.getartists.GetArtistsActivity"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Artists Info">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tasker.gottime.ActivityConfigGotTime"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Got Time">
            <intent-filter>
                <action android:name="net.dinglisch.android.tasker.ACTION_EDIT_EVENT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tasker.playstatechanged.PlayStateChangedActivity"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Play State Changed">
            <intent-filter>
                <action android:name="net.dinglisch.android.tasker.ACTION_EDIT_EVENT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tasker.togglingcondition.ActivityConfigTogglingCondition"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Toggling">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_CONDITION" />
            </intent-filter>
        </activity>
    </application>

</manifest>